/*! w3 v0.0.1 | MIT License | Peter Preeper */
/* extends */
%clear--contents {
    content: "";
    display: table;
    clear: both;
}

%display--block {
    display: block;
}

%display--inline-block {
    display: inline-block;
}

/* ==== containers ==== */

.w3-container {
    padding: 0.01em 1em;

    &:before {
        @extend %clear--contents;
    }

    &:after {
        @extend %clear--contents;
    }
}

.w3-panel {
    padding: 0.01em 1em;

    margin-top: 1em;
    margin-bottom: 1em;

    &:before {
        @extend %clear--contents;
    }

    &:after {
        @extend %clear--contents;
    }
}

/* ********* border ********* */
%w3-border--defaults {
    border: 1px solid #ccc;
}

// w3-border  Borders (top, right, bottom, left)  
.w3-border {
    @extend %w3-border--defaults;

    // w3-border-0 Removes all borders
    &-0 {
        border: 0;
    }

    // w3-border-top  Border top  
    &-top {
        @extend %w3-border--defaults;
    }

    // w3-border-bottom  Border bottom  
    &-bottom {
        @extend %w3-border--defaults;
    }

    // w3-border-left  Border left  
    &-left {
        @extend %w3-border--defaults;
    }

    // w3-border-right  Border right  
    &-right {
        @extend %w3-border--defaults;
    }

    // w3-border-color  Displays any defined borders in a specified color (like red, etc)  
}

%w3-thick-border {
    border-top: (6/16)em solid #ccc;
}

// w3-topbar  Adds a thick top border (bar) to an element  
.w3-topbar {
    @extend %w3-thick-border;
}

// w3-bottombar  Adds a thick bottom border (bar) to an element  
.w3-bottombar {
    @extend %w3-thick-border;
}

// w3-leftbar  Adds a thick left border (bar) to an element  
.w3-leftbar {
    @extend %w3-thick-border;
}

// w3-rightbar  Adds a thick right border (bar) to an element  
.w3-rightbar {
    @extend %w3-thick-border;
}

/* ********* round ********* */
// w3-round  Element rounded (border-radius) 4px  
.w3-round {

    // w3-round-small  Element rounded (border-radius) 2px  
    &-small {
        border-radius: (2/16)em;
    }

    // w3-round-medium  Element rounded (border-radius) 4px  
    &-medium {
        border-radius: (4/16)em;
    }

    // w3-round-large  Element rounded (border-radius) 8px  
    &-large {
        border-radius: (8/16)em;
    }

    // w3-round-xlarge  Element rounded (border-radius) 16px  
    &-xlarge {
        border-radius: (16/16)em;
    }

    // w3-round-xxlarge  Element rounded (border-radius) 32px
    &-xxlarge {
        border-radius: (32/16)em;
    }
}

/* ********* padding ********* */
// w3-padding  Padding 8px top and bottom, and 16px left and right.  
.w3-padding {
    padding: (8/16)em (16/16)em;

    // w3-padding-small  Padding 4px top and bottom, and 8px left and right.  
    &-small {
        padding: (4/16)em (8/16)em;
    }

    // w3-padding-large  Padding 12px top and bottom, and 24px left and right.  
    &-large {
        padding: (12/16)em (24/16)em;
    }

    // w3-padding-16  Padding 16px top and bottom  
    &-16 {
        padding-top: (16/16)em;
        padding-bottom: (16/16)em;
    }

    // w3-padding-24  Padding 24px top and bottom  
    &-24 {
        padding-top: (24/16)em;
        padding-bottom: (24/16)em;
    }

    // w3-padding-32  Padding 32px top and bottom  
    &-32 {
        padding-top: (32/16)em;
        padding-bottom: (32/16)em;
    }

    // w3-padding-48  Padding 48px top and bottom  
    &-48 {
        padding-top: (48/16)em;
        padding-bottom: (48/16)em;
    }

    // w3-padding-64  Padding 64px top and bottom
    &-64 {
        padding-top: (64/16)em;
        padding-bottom: (64/16)em;
    }
}

/* ********* margin ********* */
// w3-margin  Adds an 16px margin to an element  
.w3-margin {
    margin: 1em;

    // w3-margin-top  Adds an 16px top margin to an element  
    &-top {
        margin-top: 1em;
    }

    // w3-margin-bottom  Adds an 16px bottom margin to an element  
    &-bottom {
        margin-bottom: 1em;
    }

    // w3-margin-left  Adds an 16px left margin to an element  
    &-left {
        margin-left: 1em;
    }

    // w3-margin-right  Adds an 16px right margin to an element  
    &-right {
        margin-right: 1em;
    }
}

// w3-section  Adds an 16px top and bottom margin to an element
.w3-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ********* card ********* */
%w3-card--base {
    box-shadow: 0 (2/16)rem (5/16)rem 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-card {
    @extend %w3-card--base;
}

.w3-card-2 {
    @extend %w3-card--base;
}

.w3-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ********* display ********* */
// centered content
.w3-center {
    @extend %display--block;
    text-align: center !important
}

// float left
.w3-left {
    float: left !important
}

// float right
.w3-right {
    float: right !important
}

// text-align left
.w3-left-align {
    text-align: left !important
}

// text-align right
.w3-right-align {
    text-align: right !important
}

// text-align justify
.w3-justify {
    text-align: justify !important
}

// w3-block define full width for any element
.w3-block {
    display: block;
    width: 100%;
}

// w3-circle circled content
.w3-circle {
    border-radius: 50%
}

.w3-ripple {
    transition: opacity 0s;

    &:active {
        opacity: 0.5;
    }
}

// w3-rest
.w3-rest {
    overflow: hidden
}

// w3-hide
.w3-hide {
    display: none !important
}

// show content
.w3-show {
    @extend %display--block;

    &-block {
        @extend %display--block;
    }

    &-inline-block {
        @extend %display--inline-block;
    }
}

// fixed content at top of a page
.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

// fixed content at bottom of a page
.w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

// w3-display
.w3-display {

    // w3-display-topleft  Displays content at the top left corner of the w3-display-container  
    &-topleft {
        position: absolute;
        left: 0;
        top: 0;
    }

    // w3-display-topright  Displays content at the top right corner of the w3-display-container  
    &-topright {
        position: absolute;
        right: 0;
        top: 0;
    }

    // w3-display-bottomleft  Displays content at the bottom left corner of the w3-display-container  
    &-bottomleft {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    // w3-display-bottomright  Displays content at the bottom right corner of the w3-display-container  
    &-bottomright {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    // w3-display-left  Displays content to the left (middle left) of the w3-display-container  
    &-left {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%);
    }

    // w3-display-middle  Displays content in the middle (center) of the w3-display-container  
    &-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    // w3-display-right  Displays content to the right (middle right) of the w3-display-container  
    &-right {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
    }

    // w3-display-topmiddle  Displays content at the top middle of the w3-display-container  
    &-topmiddle {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
    }

    // w3-display-bottommiddle  Displays content at the bottom middle of the w3-display-container  
    &-bottommiddle {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
    }

    // w3-display-position  Displays content at a specified position in the w3-display-container  
    &-position {
        position: absolute;
    }

    // w3-display-hover  Displays content on hover inside the w3-display-container
    &-hover {
        display: none;
    }

    &-vertical-center {
        position: absolute;
        top: 50%;
        left: 0%;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        width: 100%;
    }
}

%disabled__cursor-opacity {
    cursor: not-allowed;
    opacity: 0.3;
}

%pointer-events--none {
    pointer-events: none;
}

%box-shadow--none {
    box-shadow: none;
}

.w3-disabled {

    @extend %disabled__cursor-opacity;

    * {
        @extend %pointer-events--none;
    }
}

:disabled {
    * {
        @extend %pointer-events--none;
    }
}

/* ********** elements ********** */
/* ***** button ***** */
%w3-button-base {
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.w3-button {
    @extend %w3-button-base;

    &:hover {
        @extend %color--black;
        @extend %background-color--white;
    }

    &:disabled {
        @extend %disabled__cursor-opacity;
        @extend %pointer-events--none;
    }

    &-btn {
        @extend %w3-button-base;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        &:disabled {
            @extend %disabled__cursor-opacity;

            &:hover {
                @extend %box-shadow--none;
                @extend %pointer-events--none;
            }
        }
    }

    &-circle {
        border-radius: 50%;
    }
}

.w3-btn {
    @extend %w3-button-base;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &:disabled {
        @extend %disabled__cursor-opacity;

        &:hover {
            @extend %box-shadow--none;
            @extend %pointer-events--none;
        }
    }
}