// extends
%button--defaults {
    display: inline-block;
    height: 2em;
    padding: 0 1.5em;
    color: #555;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 2em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

%button__hover-focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

// button colors
%button__color--primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

%button__color--primary__hover-focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

button {
    @extend %button--defaults;

    &:hover {
        @extend %button__hover-focus;
    }

    &:focus {
        @extend %button__hover-focus;
    }

    &-primary {
        @extend %button__color--primary;

        &:hover {
            @extend %button__color--primary__hover-focus;
        }

        &:focus {
            @extend %button__color--primary__hover-focus;
        }
    }
}

.button {
    @extend %button--defaults;

    &:hover {
        @extend %button__hover-focus;
    }

    &:focus {
        @extend %button__hover-focus;
    }

    &-primary {
        @extend %button__color--primary;

        &:hover {
            @extend %button__color--primary__hover-focus;
        }

        &:focus {
            @extend %button__color--primary__hover-focus;
        }
    }
}

input {
    &[type="submit"] {
        @extend %button--defaults;

        &:hover {
            @extend %button__hover-focus;
        }

        &:focus {
            @extend %button__hover-focus;
        }

        &-primary {
            @extend %button__color--primary;

            &:hover {
                @extend %button__color--primary__hover-focus;
            }

            &:focus {
                @extend %button__color--primary__hover-focus;
            }
        }
    }

    &[type="reset"] {
        @extend %button--defaults;

        &:hover {
            @extend %button__hover-focus;
        }

        &:focus {
            @extend %button__hover-focus;
        }

        &-primary {
            @extend %button__color--primary;

            &:hover {
                @extend %button__color--primary__hover-focus;
            }

            &:focus {
                @extend %button__color--primary__hover-focus;
            }
        }
    }

    &[type="button"] {
        @extend %button--defaults;

        &:hover {
            @extend %button__hover-focus;
        }

        &:focus {
            @extend %button__hover-focus;
        }

        &-primary {
            @extend %button__color--primary;

            &:hover {
                @extend %button__color--primary__hover-focus;
            }

            &:focus {
                @extend %button__color--primary__hover-focus;
            }
        }
    }
}