/*! neo.css v0.0.1 | MIT License | Peter Preeper */
/* Core module CSS variable definitions */
:root {
    --fore-color: #111;
    --secondary-fore-color: #444;
    --back-color: #f8f8f8;
    --secondary-back-color: #f0f0f0;
    --blockquote-color: #f57c00;
    --pre-color: #1565c0;
    --border-color: #aaa;
    --secondary-border-color: #ddd;
    --heading-ratio: 1.19;
    --universal-margin: 0.5rem;
    --universal-padding: 0.5rem;
    --universal-border-radius: 0.125rem;
    --a-link-color: #0277bd;
    --a-visited-color: #01579b;
  }
  
@import "norm";
/* GRID */
@import "grid";
/* BASE STYLES */
@import "base";
/* TYPOGRAPHY */
@import "type";
/* LINKS */
@import "links";
/* BUTTONS */
@import "buttons";
/* FORMS */
@import "forms";
/* LISTS */
@import "lists";
/* CODE */
@import "code";
/* TABLES */
@import "tables";
/* UTILITIES */
@import "utils";
/* CLEARING */
%clearfix {
    content: "";
    display: table;
    clear: both;
}
/* MEDIA QUERIES */
@import "media";

// .login-form {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

//core
//layout

